# Import CSV file to PostgreSQL

In [20]:
!pip install pandas
!pip install sqlalchemy
!pip install python-dotenv psycopg2

Requirement already satisfied: pandas in c:\users\ankit\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ankit\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ankit\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ankit\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ankit\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ankit\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in c:\users\ankit\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ankit\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ankit\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: python-dotenv in c:\users\ankit\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: psycopg2 in c:\users\ankit\anaconda3\lib\site-packages (2.9.10)

In [22]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import psycopg2
import os

In [6]:
df = pd.read_csv('../Data/ecommerce_transactions.csv')

In [7]:
df.head()

,Transaction_ID,User_Name,Age,Country,Product_Category,Purchase_Amount,Payment_Method,Transaction_Date
0,1,Ava Hall,63,Mexico,Clothing,780.69,Debit Card,2023-04-14
1,2,Sophia Hall,59,India,Beauty,738.56,PayPal,2023-07-30
2,3,Elijah Thompson,26,France,Books,178.34,Credit Card,2023-09-17
3,4,Elijah White,43,Mexico,Sports,401.09,UPI,2023-06-21
4,5,Ava Harris,48,Germany,Beauty,594.83,Net Banking,2024-10-29

In [15]:
df.columns = df.columns.str.lower()

In [29]:
load_dotenv()

True

In [33]:
db_url  = os.getenv('URL')

In [31]:
engine = create_engine(db_url)

In [32]:
df.to_sql('transaction',engine,if_exists='replace',index=False)

1000